<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <title>Profile</title>
</head>
<body>
  <div id="coverPhotoDiv">
      <img id="coverPhoto" src="{{profile.user.coverPhoto}}" />
  </div>
  <div class="main-container">
    <div id="profilePicDiv">
       <img  id="profilePic" src="{{profile.user.profilePic}}" />
    </div>
    <div class="profile-bio"> 
      <ul> 
        <h3 class="profile-username"> {{profile.user.username}}</h3>
        <li id="birthday" >
          <img src="/images/birthday-cake.png" id="profileLogos" />
          <strong> Birthday: </strong>{{ dateFormat profile.user.birthday "DD/MM/YYYY" }}
        </li>
        <li id="worksAt">
          <img src="/images/working.png" id="profileLogos" />
          <strong>Works at:</strong> {{ profile.user.worksAt }}
        </li>
        <li id="hobbies">
          <img src="/images/guitar.png" id="profileLogos" />
          <strong>Hobbies:</strong> {{ profile.user.hobbies }} 
        </li>
    
        <li id="livesIn">
          <img src="/images/location.png" id="profileLogos" />
          <strong>Lives in: </strong>{{ profile.user.livesIn}}
        </li>
        {{#if (equal session.username profile.user.username) }}
          <li>  
            <img src="/images/editing.png" id="profileLogos" />
            <button class="btnProfile">
               <a class="editProfile" href="/users/{{profile.user.username}}/settings">Edit Profile</a>
            </button>
          </li> 
        {{/if}}
      </ul>
    </div>
  </div>
  
<ul class="posts">
  {{#each (reverse profile.posts)}}
    <li class="post" id="post-{{this._id}}">
      <div class="post-header">
      <img src="{{this.author.profilePic}}" class="profile-pic" />
      <span class="user-name">{{this.author.username}}</span><br>
      <span class="time-ago">{{timeAgo this.timestamp}}</span><br />
      {{#if (equal this.author.username ../session.username)}}
        <a href="/posts/{{this._id}}/delete" id="del-link">delete</a>
        <a href="/posts/{{this._id}}/edit" id="edit-link">edit</a>
      {{/if}}
      </div>
      <img class="post-image" src="{{this.image_url}}" />
      <p class="post-message">{{this.message}}</p>
      <button class="like-button" id="{{this._id}}">
        {{ifLiked this.likes ../session.username}}
      </button>
      <button class="accordion"><p class="like-msg">
        You, him & 
      <span
        class="likes-count"
        id="likes-count-{{this._id}}"
      >{{this.likes.length}}</span> others have liked this</p>
      </button>
        <div class="panel">
          {{#each this.likes}}
            <p>{{this}}</p>
          {{/each}}
        </div>
    </li>
  {{/each}}
</ul>
</body>
</html>






