<img id="cover-photo" src="{{profile.user.coverPhoto}}" />

  <div id="profile-details">
       <img id="profile-pic" src="{{profile.user.profilePic}}" />
        <h3 class="profile-username"> {{profile.user.username}}</h3>
      <ul id="profile-ul"> 
        <li class="profile-li" id="birthday" >
          <strong>Birthday: </strong>{{ dateFormat profile.user.birthday "DD/MM/YYYY" }}
        </li>
        <li class="profile-li" id="works-at">
          <strong>Works at: </strong> {{ profile.user.worksAt }}
        </li>
        <li class="profile-li" id="hobbies">
          <strong>Hobbies: </strong> {{ profile.user.hobbies }} 
        </li>
    
        <li class="profile-li" id="lives-in">
          <strong>Lives in: </strong>{{ profile.user.livesIn}}
        </li>
        {{#if (equal session.username profile.user.username) }}
          <li class="profile-li" id="settings-link" >  
            <button class="btnProfile">
               <a class="edit-profile" href="/users/{{profile.user.username}}/settings">Edit Profile</a>
            </button>
          </li> 
        {{/if}}
      </ul>
      
    
  </div>
  {{#if (equal profile.user.username session.username)}}
  <h1 style="text-align: center; margin-top: 40px;">My posts</h1>
  {{/if}}
  {{#unless (equal profile.user.username session.username)}}
  <h1 style="text-align: center; margin-top: 40px;">{{profile.user.username}}'s posts</h1>
  {{/unless}}
<ul class="posts">
  {{#each (reverse profile.posts)}}
    <li class="post" id="post-{{this._id}}">
      <div class="post-header">
      <img src="{{this.author.profilePic}}" class="profile-pic" />
      <span class="user-name">{{this.author.username}}</span><br>
      <span class="time-ago">{{timeAgo this.timestamp}}</span><br />
      <button class="{{ifLiked this.likes ../session.username}}-button" id="{{this._id}}">
        {{ifLiked this.likes ../session.username}}
      </button>
      {{#if (equal this.author.username ../session.username)}}
        <a href="/posts/{{this._id}}/delete" id="del-link">delete</a>
        <a href="/posts/{{this._id}}/edit" id="edit-link">edit</a>
      {{/if}}
      </div>
      <img class="post-image" src="{{this.image_url}}" />
      <p class="post-message">{{this.message}}</p>
      <div class="tooltip"><p class="like-msg">
      <span
        class="likes-count"
        id="likes-count-{{this._id}}"
      >{{this.likes.length}}</span> nachos have liked this</p>
      </button>
        <div class="tooltiptext" id="like-names-{{this._id}}">
          {{#each this.likes}}
            <p class="like-name">{{this}}</p>
          {{/each}}
        </div>
    </li>
  {{/each}}
</ul>







