<h1>Timeline</h1>
<ul class="posts">
  {{#each (reverse posts)}}
  <li>
  Posted by: {{this.user_id}}<br>
  <img src="{{this.image_url}}"><br>
  {{this.message}}<br>
  <button class="like-button" id="{{this._id}}">Like</button><br>
    Number of likes: <span id="likes-count-{{ this._id }}">{{ this.likes.length }}</span><br>
    Liked by:<br>
    {{#each this.likes}}
      {{this.username}}<br>
    {{/each}}
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
