<h1>{{session.username}}'s timeline</h1>

<ul class="posts">
  {{#each (reverse posts)}}
    <li class="post" id="post-{{this._id}}">
      <div class="post-header">
      <img src="{{this.author.profilePic}}" class="profile-pic" />
      <span class="user-name">{{this.author.username}}</span><br>
      <span class="time-ago">{{timeAgo this.timestamp}}</span><br />
      {{#if (equal this.author.username ../session.username)}}
        <a href="/posts/{{this._id}}/delete" id="del-link">delete</a>
        <a href="/posts/{{this._id}}/edit" id="edit-link">edit</a>
      {{/if}}
      </div>
      <img class="post-image" src="{{this.image_url}}" />
      <p class="post-message">{{this.message}}</p>
      
      <button class="{{ifLiked this.likes ../session.username}}-button" id="{{this._id}}">
        {{ifLiked this.likes ../session.username}}
      </button>
      <button class="accordion"><p class="like-msg">
      <span
        class="likes-count"
        id="likes-count-{{this._id}}"
      >{{this.likes.length}}</span> nachos have liked this</p>
      </button>
        <div class="panel">
          {{#each this.likes}}
            <p>{{this}}</p>
          {{/each}}
        </div>
    </li>
  {{/each}}
</ul>