<h1>{{session.username}}'s timeline</h1>

<ul class="posts">
  {{#each (reverse posts)}}
    <li class="post" id="post-{{this._id}}">
      Posted by:
      <img src="{{this.author.profilePic}}" class="profile-pic" />
      {{this.author.username}}<br />
      <img src="{{this.image_url}}" /><br />
      {{timeAgo this.timestamp}}<br />
      {{this.message}}<br />
      <button class="like-button" id="{{this._id}}">
        {{ifLiked this.likes ../session.username}}
      </button><br />
      Number of likes:
      <span
        class="likes-count"
        id="likes-count-{{this._id}}"
      >{{this.likes.length}}</span><br />
      Liked by:<br />
      {{#each this.likes}}
        <span class="liked-by">{{this}}</span><br />
      {{/each}}

      <button class="accordion">Liked by:</button>
        <div class="panel">
      <p>Lorem ipsum...</p>
      </div>
    </li>

  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>