<h1>{{session.username}}'s timeline</h1>

<ul class="posts">
  {{#each (reverse posts)}}
    <li class="post" id="post-{{this._id}}">
      <div class="post-header">
      <img src="{{this.author.profilePic}}" class="profile-pic" />

      <span class="user-name">{{this.author.username}}</span><br>
      <span class="time-ago">{{timeAgo this.timestamp}}</span><br />
      <button class="{{ifLiked this.likes ../session.username}}-button" id="{{this._id}}">
        {{ifLiked this.likes ../session.username}}
      </button>
      {{#if (equal this.author.username ../session.username)}}
        <a href="/posts/{{this._id}}/delete" id="del-link">delete</a>
        <a href="/posts/{{this._id}}/edit" id="edit-link">edit</a>
      {{/if}}
      </div>
      <img class="post-image" src="{{this.image_url}}" />
      <p class="post-message">{{this.message}}</p>
      <div class="tooltip"><p class="like-msg">
      <span
        class="likes-count"
        id="likes-count-{{this._id}}"
      >{{this.likes.length}}</span> nachos have liked this</p>
      </button>
        <div class="tooltiptext" id="like-names-{{this._id}}">
          {{#each this.likes}}
            <p class="like-name">{{this}}</p>
          {{/each}}
        </div>
    </li>

     Comments:<br />
     <div class="comment-section" id="comment-section-{{this.id}}">
      {{#each this.comments}}
      <div class="comment-object">
        <p class="comment-author">{{this.author}}</p>
        <p class="comment-text">{{this.message}} </p>
        <p class="comment-timeago">{{timeAgo this.timestamp}}</p> 
      </div>
      {{/each}}
      </div>


      <div id="comment-box">
        <textarea id="text-comment-{{this._id}}" type="text"  placeholder="comment here" class="comment-text-area"></textarea><br />
        <input type="button" value="Comment" class="comment-button" id="comment-{{this._id}}">
      </div>

  {{/each}}
</ul>